.name1 {
  font-family: Besley;
  color: #fffcfe;
  font-size: 20px;
  text-decoration: none;
}

.name2 {
  font-family: Twinkle Star;

  color: rgb(216, 163, 49);
  font-size: 20px;
  text-decoration: none;
  
}

.name3{
     color: rgb(216, 163, 49);
      font-family: Twinkle Star;
}
.name4{
    color: rgb(216, 163, 49);
     font-family: Twinkle Star;
     background-color: black

}
.star{
    font-family: Twinkle Star;
}
.darkman{
  background-color: rgb(43, 43, 44);
}

