.box {
    background-color: transparent;
    width: 330px;
    height: 500px;

    perspective: 1000px;
  }
  .box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  .box:hover .box-inner {
    transform: rotateY(180deg);
  }
  .box-front,
  .box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .box-front {
    background-color: rgb(43, 43, 44);
    color: #111111;
  }
  .box-back {
    background-color: rgb(43, 43, 44);
    color: #eeeeee;
    transform: rotateY(180deg);
  }
